FLASK_ENV=development
SECRET_KEY=change-this-secret-key

DB_HOST=<RDS endpoint>
DB_PORT=3306
DB_NAME=shopease
DB_USER=admin
DB_PASSWORD=<password>

STORAGE_TYPE=s3
S3_BUCKET=<new bucket>
AWS_REGION=your_region
